* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  background-image: url(img/bg-pattern-top-desktop.svg), url(img/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 70vw bottom 70vh, left 50vw top 50vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ===== content-top ===== */

.content-top {
  width: 1050px;
  display: flex;
  justify-content: space-between;
}

.text-box h1 {
  color: hsl(300, 43%, 22%);
  font-size: 45px;
  width: 300px;
}

.text-box p {
  width: 400px;
  color: hsl(303, 10%, 53%);
  line-height: 20px;
  margin: 20px 0 50px 0;
}

.star-box {
  width: 500px;
}

.star-1, .star-2, .star-3 {
  background-color:  hsl(300, 24%, 96%);
  display: flex;
 
  align-items: center;
  padding: 15px 0px 15px 30px;
  border-radius: 8px;
  width: 410px;
  margin-bottom: 15px;
}

.star-box p {
  margin-left: 30px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.star-2 {
  margin-left: 44px;
}

.star-3 {
  margin-left: 90px;
}

/* ===== content-bottom ===== */

.content-bottom {
  display: flex;
  gap: 30px;
}

.content-bottom .card-1, .content-bottom .card-2, .content-bottom .card-3 {
  width: 330px;
  height: 225px;
  padding: 40px 27px;

  background-color: hsl(300, 43%, 22%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-2 {
  margin-top: 15px;
}

.card-3 {
  margin-top: 30px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  height: 40px;
  border-radius: 100%;
  margin-right: 20px;
}

.profile .info p:nth-child(1) {
  color: white;
  margin-bottom: 5px;
}

.profile .info:nth-child(2) {
  color: hsl(333, 80%, 67%);
}

.paragraph {
  color: white;
  line-height: 20px;
}

@media (max-width: 1100px) {

  body {
    background-image: none;
  }

  main {
    height: 100%;
    margin: 80px 22px;
    gap: 25px;
  }

  /* content-top */

  .content-top {
    flex-direction: column;
    width: 100%;
  }

  
  .text-box {
    text-align: center;
  }
  
  .text-box h1, .text-box p {
    margin: 0 auto;
  }

  .text-box p {
    width: 100%;
    padding: 20px 0 40px 0;
  }
  
  .star-box {
    width: 100%;
  }

  .star-1, .star-2, .star-3 {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
  }

  .star-box p {
    margin: 0;
  }
  
  /* content-bottom */
  
  .content-bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card-1 {
    width: 500px;
  }

  .card-2 {
    width: 100%;
    margin-top: 0;
  }

  .card-3 {
    margin-top: 0;
    background-color: aquamarine;
  }
}